/* root  */
:root {
  --white: #ffffff;
  --gray: #bebcbb;
  --lightgray: #d9dadc;
  --blue: #00439c;
  --lightblue: #2d64e6;
  --dark-blue: #161c3b;
  --orange: #cd3d0f;
  --light-black: #1f1f1f;
}

/* header */

header{
  display: contents;
}

.header-top {
    height: 60px;
  background-color: black;
}

.navbar.navbar_sticky {
    position: sticky;
    top: 0;
    z-index: 1;
}

/* logo */

.img-container {
  width: 90px;
  padding: 10px;
}

.img-card {
  width: 100%;
}

/* button */

.btn-round {
  border-radius: 25px;
}

.btn_outline {
    all: unset;
    background-color: var(--gray);
    padding: .05em 1.5em;
    border-radius: 3em !important;
    text-align: center;
    line-height: 180%;
    border: 4px solid transparent;
    background-clip: padding-box;
    transition: box-shadow 0.2s ease-in-out;
    white-space: nowrap;
}

.games-card-button {
    all: unset;
}


.btn-orange {
  background-color: var(--orange);
}

.btn-orange:hover {
    box-shadow: 0 0 0 1px var(--orange);
  }

.btn-blue {
  background-color: var(--lightblue);
}

.btn-blue:hover {
    box-shadow: 0 0 0 1px var(--lightblue)
}
.btn-gray {
  background-color: var(--lightgray);
  font-weight: 500;
  color: var(--lightblue);
}

.btn-gray:hover {
    box-shadow: 0 0 0 1px var(--lightgray)
}

.btn-white {
  background-color: white;
  font-weight: 500;
}

.btn-white:hover {
    box-shadow: 0 0 0 1px var(--white)
}
/* first section */

#jumbotron {
  background-size: cover;
  height: 800px;
  isolation: isolate;
}

.card_rounded {
  border-radius: 25px;
}

.hidden {
    display: none;
}
/* #jumbotron.contents */
#jubotron.contents {
    display: none;
}

.contents{
  display: none;
}

.label_card{
  position: relative;
  display: block;
  aspect-ratio: 176/95;
}

.label_card::after {
  position: absolute;
  inset: 0;
  content: '';
    border-radius:calc(0.5rem + 4px);
    background-size: cover;
    display: block;
    border: 4px solid transparent;
    background-clip: padding-box;
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.label_card:focus::after{
box-shadow: 0 0 0 3px var(--lightblue)

}



.label_card::before {
  position: absolute;
  inset: 5px;
  content: '';
  display: block;
  border-radius: calc(0.5rem + 4px);
  background: var(--light-black);
  opacity: 0;
  filter: blur(5px);
  transition: all 0.2s ease-out;
}


.label_card:hover::before{
  opacity: 0.6;
}

.label_card:hover::after{
  transform: translateY(-7px);
}

.returnal::after {
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    
}

@keyframes trans_opacity {
  
  
}


.ratchet::after {
    background-image: url(../img/ratchet-and-clank-rift-apart-keyart.jpg);
}
#returnal:checked ~ #jumbotron .returnal, #ratchet:checked ~ #jumbotron .ratchet, 
#gta:checked ~ #jumbotron .gta,
#gran-turismo:checked ~ #jumbotron .gran-turismo,
#nba:checked ~ #jumbotron .nba,
#w2k22:checked ~ #jumbotron .w2k22 {
    display:contents;
}
#returnal:checked ~ #jumbotron {
  background-image: url(../img/jumbo-bg.png);
  background-position: center;
  animation: trans_bg_returnal 2s;
}
#ratchet:checked ~ #jumbotron {
    background-image: url(../img/ratchet-and-clank-rift-apart-keyart.jpg);
    background-position: center;
    animation: trans_bg_ratchet 2s;
  }

  #returnal:checked ~ #jumbotron::before {

    background-color: black,;
   }

   #ratchet:checked  ~ #jumbotron::before{

    background-color: black;

   }

  #gta:checked ~ #jumbotron::before{

    background-color:black;

   }
   
  #gran-turismo:checked  ~ #jumbotron::before{

    background-color: black;

   }

  #nba:checked::before  ~ #jumbotron{

    background-color:white;

   }

  #w2k22:checked::before  ~ #jumbotron{

    background-color:black;

   }
   

  @keyframes trans_bg_returnal {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
    
  }


  @keyframes trans_bg_ratchet {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
    
  }

  @keyframes trans_bg_gta {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
    
  }

  @keyframes trans_bg_gran_turismo {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
    
  }

  @keyframes trans_bg_nba {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
    
  }

  @keyframes trans_bg_w2k22 {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
    
  }

  
  .gta-card::after {
    background-image: url(../img/gta-card.jfif);
  }

  #gta:checked ~ #jumbotron {
    background-image: url(../img/gta.jpg);
    background-position: center;
    animation: trans_bg_gta 2s;
  }


  .gran-turismo::after {
    background-image: url(../img/gran-turismo-card.jpg);
  }

  #gran-turismo:checked ~ #jumbotron {
    background-image: url(../img/gran-turismo-bg.jpg);
    background-position: center;
    animation: trans_bg_gran_turismo 2s;
  }

  .nba::after {
    background-image: url(../img/nba-card.jfif);
  }

  #nba:checked ~ #jumbotron {
    background-image: url(../img/nba.jpg);
    background-position: center;
    animation: trans_bg_nba 2s;
    
  }


  .w2k22::after {
    background-image: url(../img/w2k22-card.jpg);
  }


  #w2k22:checked ~ #jumbotron {
    background-image: url(../img/w2k22-bg.jpg);
    background-position: center;
    animation: trans_bg_w2k22 2s;
  }


  .text_trans {
    position: relative;
    animation: text_trans 2s;
  }

  @keyframes text_trans {
    from {top: 20px;}
    to {top: 0px}
  }

  

  .hover-bt-line:hover .border-overlay{
    border-bottom:1px solid var(--lightblue);
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
}


#game-it {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-position: center;
  
}


.trans_up {
  transition: all .2s ease-in-out;
}


.trans_up:hover {

  transform: scale(1.05, 1.05);
}



.card_no_bord {
  border: 0px!important;
}

#new-games {
  background-color: var(--light-black);
}

#ps-plus {
  background-color: var(--gray);
}

#ps-now {
  background-color: var(--dark-blue);
}

footer {
  background-color: var(--blue);
}

.col-6 ul li,
.col-6 ul li a {
  color: white;
  list-style: none;
  line-height: 40px;
  font-size: 0.8rem;
  line-height: 200%;
  text-decoration: none;
}

.card-round {
  border-radius: 25px;
  text-align: center;
}
