/* root  */
:root {
    --white: #ffffff;
    --gray:#bebcbb;
    --blue: #00439c;
    --lightblue:#2d64e6;
    --dark-blue:#161c3b;
    --orange:#cd3d0f;
    --light-black:#1f1f1f;
}

 /* header */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-top {
    background-color: black;
}


/* logo */
    
 .img-container {
     width: 90px;
     padding: 10px;
 }  
   

.img-card {
    width: 100%;
}

/* button */

.btn-round {
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}

.btn-orange {
    background-color: var(--orange);
    text-decoration: none;
}

.btn-blue {
    background-color: var(--lightblue);
    text-decoration: none;
}

.btn-gray {
    background-color:lightgray;
    text-decoration: none;
    font-weight: 500;
}

.btn-white {
    background-color:white;
    text-decoration: none;
    font-weight: 500;
}
/* first section */

#jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    height:800px;
    margin-top: 120px;
}


#game-it {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    height:800px;
}


#new-games {
    background-color: var(--light-black);
}


#ps-plus {
    background-color: var(--gray);
}


#ps-now {
    background-color: var(--dark-blue);
}

footer {
    background-color: var(--blue);
}


.col-6 ul li,.col-6 ul li a{
    color: white;
    list-style:none;
    line-height: 40px;
    font-size: 0.8rem;
    line-height: 200%;
    text-decoration: none;

}

.card-round{
    border-radius: 25px;
    text-align: center;
   
}
    
    
    

    
    